.expense-form {
  margin: 2rem 10rem;
  display: flex;
  height: 2.5rem;
  padding: 1.5rem;
  justify-content: space-evenly;
  background-color: black;
  border-radius: 2rem;
}

.date-input,
.desc-input,
.cost-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button,
.expense-btn {
  font-family: "Raleway", sans-serif;
  background-color: blue;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 5px 10px;
}

.expense-btn:hover {
  opacity: 0.7;
  transition: 0.2s ease;
}

.no-expenses {
  background-color: black;
  margin: 3rem 10vw;
  border-radius: 2rem;
  height: 70vh;
  display: grid;
  align-items: center;
}